body.de .pageTitle::before {
	content: "Erorberungsfortschritt";
}
body.en .pageTitle::before {
	content: "Weekly Conquest Tracker";
}
body.de #actionButtons .newCharButton span:before {
	content: "Charakter hinzuf\u00fcgen";
}
body.en #actionButtons .newCharButton span:before {
	content: "Add Character";
}
body.de #actionButtons .resetButton span:before {
	content: "Alle zur\u00fccksetzen";
}
body.en #actionButtons .resetButton span:before {
	content: "Reset all";
}
body.de #actionButtons .settingsButton span:before {
	content: "Einstellungen";
}
body.en #actionButtons .settingsButton span:before {
	content: "Settings";
}
body.de .lang {
	width: 41px;
	height: 28px;
	background: url(de-en.png) 0 0;
}
body.en .lang {
	width: 41px;
	height: 28px;
	background: url(de-en.png) -41px 0;
}